html, body{
    height: 100%;
}

body {
    background-image: url("../../resources/img/bg.jpg");
    font-family: sans-serif;
    overflow-x: hidden;
}

.homepagebg {
    background: none;
}

.container {
    width: 80%;
    margin: 0px auto 5px auto;;
    min-height: 57%;
}

.parallax {
    background-image: url("../../resources/img/bg.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.parallax img {
    width: 20%;
    margin-top: 50px;
}

.whiteheader {
    color: #fff;
}

.navbar {
    background-color: #fff;
    padding: 0px 20px;
}

.navbar-default .navbar-nav > li > a {
    font-weight: bold;
    color: #88b72f;
    
}

.navbar-default .navbar-nav > li > a:hover  {
    color: #299145;
}

.navbar-default .navbar-nav > li > ul > li > a {
    font-weight: bold;
    color: #88b72f;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > ul > li > a:hover  {
    color: #299145;
}

.navbar-brand img {
    height: 100%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.homecontent {
    background-color: rgba(255,255,255,0.8);
    margin: 30px 0;
}

.userlogin {
    border: groove 1px #dee0e2;
    background: #fff;
    border-radius: 10px;
    padding: 10px 5px;
}

.formfield {
    padding: 10px 8px;
}

.btnreg {
    margin-left: 10px;
}

.userreg {
    border: solid 1px #dee0e2;
}

.udashrow1 {
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    color: #000;
    border-left: solid 1px #299145;
    border-top: solid 1px #299145;
    border-right: solid 2px #299145;
    border-bottom: solid 2px #299145;
}

.udashrow1:hover {
    box-shadow: -5px 5px 5px #e6e6e6;
}

.udashrow1 h3 {
    color: #ff6600;
}

.udashrow1box1 {
    border-top: solid 1px #ff9966;
    padding: 10px 25px;
}

.udashrow1box2 {
    border-top: solid 1px #ff9966;
    border-left: solid 1px #ff9966;
    padding: 10px 25px;
}

.udashrow2 {
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    color: #000;
    border-left: solid 1px #299145;
    border-top: solid 1px #299145;
    border-right: solid 2px #299145;
    border-bottom: solid 2px #299145;
}

.addashrow1 {
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    color: #000;
    border-left: solid 1px #299145;
    border-top: solid 1px #299145;
    border-right: solid 2px #299145;
    border-bottom: solid 2px #299145;
}

.addashrow1:hover {
    box-shadow: -5px 5px 5px #e6e6e6;
}

.admindashtitle {
    color: #ff6600;
    font-weight: bold;
}

.admindash {
    text-align: right;
    font-size: 20px;
}

.addashrow2 {
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    color: #000;
    border-left: solid 1px #299145;
    border-top: solid 1px #299145;
    border-right: solid 2px #299145;
    border-bottom: solid 2px #299145;
}

.addashrow2 > div > hr {
    border: solid 0.5px black;
}

.analbl {
    width: 30%;
}

.jumbotron {
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    color: #000;
    box-shadow: -3px 3px 3px #009933;
}

.udashrow2 h3 {
    color: #ff6600;
}

.warehousedetr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.warehousedetfield {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border-style: none;
}

.btntopup {
    margin-top: -6px;
    margin-bottom: -14px;
    margin-left: -10px;
    margin-right: -10px;
}

.transcontainer {
    margin: 15px 10px;
}

.frmtrans {   
    margin-bottom: 10px;
}

.parceltag {
    width: 591px;   
    border: solid 1px black;
}

.parceltag > table {
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
}

.parceltag > h1 {
    margin-left: 10px;
}

.parceltag > h3 {
    margin-left: 10px;
}

.parceltag > p {
    margin-left: 10px;
}
.barcode {
    margin: auto;
}

.lblUpdate {
    width: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.inputUpdate {
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.textUpdate > input {
    width: 30%;
    border-radius: 30px;
}

.btnUpdate {
    text-align: left;
    margin-top: 15px;
}

.warehouseinput {
    width: 100%;
    border-radius: 5px;
}

.tblwarehouse {
    width: 100%;
}

.tenwidth {
    width: 10%;
}

.waretdinput {
    width: 30%;
}

.waretdbtn {
    padding-left: 10px;
    width: 50%;
}

.footercontainer {
    background: #333333;
    width: 100%;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer {
    width: 80%;
    margin: auto;
}

.tblfooter {
    padding-left: 30px;
}

.footertitle {
    font-weight: 1000;
    font-size: 20px;
}

.footercon {
    color: #cccccc;
}

.footerlink > a {
    color: #cccccc;
    text-decoration: none;
}

.footerlink > a:hover {
    color: #88b72f;
    text-decoration: none;
}

.contacthead {
    color: #fff;
}

.copyrow {
    margin-top: 15px;
}

.right {
    text-align: right;
}

.rowhead {
    background: #444; 
    padding: 10px; 
    color: #fff;
    font-weight: bold;
    font-size: 180%; 
    text-align: left;
}

.botmar {
    margin-bottom: 15px;
}

.fltright {
    float: right;
}

.adcontainer {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.automar {
    margin: 0 auto;
}

.ptcontain {
    width: 10%;
}

.marright {
    margin-right: 10px;
}